<%= form_for(supplier_ingredient) do |f| %>
  <% if supplier_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier_ingredient.errors.count, "error") %> prohibited this supplier_ingredient from being saved:</h2>

      <ul>
      <% supplier_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
